################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/__pycache__/*
/.vs
/tts-service/agent_tts/models/__pycache__
/tts-service/agent_tts/orpheus/__pycache__
/tts-service/agent_tts/orpheus/inference.py
/tts-service/agent_tts/workers/__pycache__
/tts-service/agent_tts/__pycache__
/venv/Lib/site-packages/annotated_doc/__pycache__
/venv
/human_query_service/app/detector/__pycache__
/human_query_service/captures
/tts-service/orpheus_out
/human_query_service/venv
/screenVision/venv
/screenVision/requirements.txt
/tts-service/agent_tts/venv
/screenVision/app/vision/__pycache__
/human_query_service/app/listener/__pycache__
/human_query_service/app/llm/__pycache__
/screenVision/captures
/screenVision/app/__pycache__
/screenVision/app/config/__pycache__
/human_query_service/asr/__pycache__
/human_query_service/app/__pycache__
/human_query_service/app/tts/__pycache__
/human_query_service/app/config/__pycache__
